:root {
    --white: #ffffff;
    --beige1: #f5e6d7;
    --beige2: #f2dfcb;
    --beige3: #f2d9bf;
    --beige4: #FEF8F2;
  
    --brown1:#35302B;
    --brown2:#5E554C;
    --brown3:#7E7266;
    --orange:#f28a1d;
    --black: #080808;
    --teal: #006060;
    --lightteal: #008080;
    --purple: #800080;
    --navy: #000080;
    --cyan: #17a2b8;
    --violetred: #c71585;
    --red: #ff0000;
    --orange: #ffa500;
    --green: #006400;
}


*{
    background-color: var(--beige4);
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    padding: 10px;
    align-items: center;
    z-index: 1000;
}

.navlist{
    display: flex;
}

.navlist a{
    padding: 0 15px;
}

.navlist a:hover {
	color: var(--orange);
}

#menu-icon{
    margin-right: 15px;
    display: none;
}

#about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    align-items: center;
    margin-top: 85px;
    padding:  0 200px;
    gap: 5rem;
    font-size: 25px;
}

.img_about img{
    width: 300px;
    height: 300px;
    margin-top: 10px;
    border-radius: 50%;
}
#projects ul{
    padding: 0;

}


form {
	margin-top: 10px;
	border-color: lightgray;
	border-style: solid;
	width: 300px;
	padding: 10px;
    display: inline-block;
}

.inputContext{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}

.inputSpace{
    width: 200px;
}
.submit-Button{
    height: 50px;
}
.submitButton{
    height: 50px;
}
.submitButton:hover {
	background-color: blanchedalmond;
}